/* @media (max-width: 1380px) {
    header p {
        font-size: 25vh;
        bottom: 30%;
    }

    header i {
        font-size: 3.5vh;
    }

    nav ul li a {
        font-size: 4.5vh;
    }

    #description p {
        font-size: 2.2vh;
    }

    #to-hobby a {
        font-size: 2.2vh;
    }

    #projects p {
        font-size: 3.7vh;
    }

    #projects .project .project-description p {
        font-size: 2.5vh;
        line-height: 3.5vh;
    }

    #projects .project .project-description h3 {
        font-size: 3.1vh;
    }

    .project img {
        transform: scale(1);
    }

    .project:hover img {
        transform: scale(1.07);
    }

    .container p {
        font-size: 3.6vh;
    }

    .activity p {
        font-size: 26px;
    }

    .activity:hover p {
        letter-spacing: 2px;
    }
}

@media (max-width: 1155px) {
    header i {
        font-size: 3vh;
    }

    nav ul li a {
        font-size: 4vh;
    }

    header i {
        bottom: 0.4vh;

        font-size: 3.6vh;
    }

    header:hover>i {
        transform: scale(1.1);
    }

    #description p {
        padding-top: 2vh;
        line-height: 3.5vh;
    }

    #to-hobby a {
        width: 30%;
        font-size: 2vh;
    }

    #to-hobby a:hover {
        width: 34%;
    }

    .project {
        margin-bottom: 6vh;
    }

    #projects .project .project-description p {
        font-size: 2.2vh;
        line-height: 3vh;
    }

    #projects .project .project-description h3 {
        font-size: 2.9vh;
    }

    .project:hover img {
        transform: scale(1.03);
    }

    .container p {
        font-size: 3vh;
    }

    .activity p {
        font-size: 19px;
    }

    .activity:hover p {
        letter-spacing: 1.7px;
    }
}

@media(max-width:1074px) {
    header:hover>i {
        opacity: 0;
    }
}

@media(max-width:960px) {
    #description p {
        font-size: 2vh;
        line-height: 3vh;
        /* padding-top: ; */
}

#to-hobby a {
    height: 3.5vh;
    font-size: 2vh;
    line-height: 3.5vh;
}

.project img {
    height: 90%;
}

#projects .project .project-description p {
    font-size: 2.1vh;
    line-height: 2.6vh;
}

#projects .project .project-description h3 {
    font-size: 2.2vh;
    line-height: 2vh;
}

}

@media(max-width: 830px) {
    header p {
        font-size: 18vh;
        bottom: 35%;
    }

    nav {
        height: 6vh;
        margin-top: -6vh;
    }

    nav ul li a {
        font-size: 3vh;
        line-height: 6vh;
    }

    #description p {
        font-size: 1.8vh;
        padding-top: 1vh;
        line-height: 3vh;
    }

    #to-hobby a {
        height: 3vh;
        width: 30%;
        font-size: 1.8vh;
        line-height: 3vh;
    }

    #projects {
        height: 90vh;
    }

    .project {
        margin-bottom: 4vh;
    }

    .project img {
        height: 80%;
    }

    #projects .project .project-description p {
        font-size: 1.8vh;
        line-height: 2.5vh;
    }

    #projects .project .project-description h3 {
        font-size: 2vh;
        line-height: 2vh;
    }

    #hobby .container {
        padding-top: 0;
    }

    .container p {
        font-size: 2.5vh;
    }

    .activity {
        width: 66%;
        margin-left: 17%;
        margin-right: 17%;
    }

    .activity img {
        margin: 1vh auto;
    }

    .activity p {
        font-size: 19px;
    }

    .activity:hover p {
        letter-spacing: 1.7px;
    }
}

/* 725 */

/* @media (){
header p {
        font-size: 30vh;
}

header i {
    font-size: 4vh;
}

nav {
    height: 7vh;
    margin-top: -7vh;
}

nav ul {
    max-width: 1024px;
}


nav ul li a {
    line-height: 7vh;
    font-size: 5vh;
}

description {
    width: 92%;
    margin: 3vh auto;
}

#description p {
    padding-top: 3vh;
    font-size: 3vh;
    line-height: 4.5vh;
}

#description img {
    height: 22vh;
}

#to-hobby a {
    height: 4vh;
    line-height: 4vh;
    font-size: 3vh;
    letter-spacing: 1px;
}

#projects p {
    font-size: 4vh;
    letter-spacing: 2px;
}

.project {
    height: 23vh;
}

#projects .project .project-description p {
    font-size: 3vh;
    line-height: 4.5vh;
}

#projects .project .project-description h3 {
    letter-spacing: 4px;
    line-height: 4.5vh;
    font-size: 3.3vh;
}

.project img {
    transform: scale(1.1);
}

.project:hover img {
    transform: scale(1.17);
}

.container p {
    letter-spacing: 3px;
    font-weight: 290;
    font-size: 4vh;
}

.activity {
    width: 33.3%;
}

.activity img {
    width: 100%;
}

.activity p {
    font-size: 30px;
}

.activity:hover p {
    letter-spacing: 4px;
}
*/
*/