@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* clearfix*/
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 242, 231);
    font-family: 'Raleway', sans-serif;
}

/* CZEŚĆ! */
header {
    position: relative;
    min-height: 72vh;
    background-image: url("img/02.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 0% left 85%;
    filter: brightness(0.85);
}

header p {
    position: absolute;
    width: 100%;
    bottom: 50%;
    transform: translateY(50%);
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 32vh;
    font-weight: 500;
    animation: move 4s ease 1;
}

@keyframes move {
    0% {
        opacity: 0;
        left: 0;
    }

    5% {
        opacity: 0;
        left: 0;
    }

    10% {
        opacity: 0;
        letter-spacing: 35px;
    }

    30% {
        opacity: 0.7;
        letter-spacing: 20px;
    }

    100% {
        opacity: 1;
    }
}

header i {
    position: absolute;
    right: 1.3vh;
    bottom: calc(3.5vh - 0.8vh);
    transform: translateY(50%);
    font-size: 4vh;
    color: white;
    text-shadow: 0 -1.5vh 0 white;
    animation: scroll 3s 4s linear infinite;
}

@keyframes scroll {
    0% {
        right: 1.3vh;
    }

    1% {
        right: 0.9vh;
    }

    2% {
        right: 1.7vh;
    }

    4% {
        right: 0.9vh;
    }

    6% {
        right: 1.7vh;
    }

    8% {
        right: 0.9vh;
    }

    10% {
        right: 1.7vh;
    }

    12% {
        right: 0.9vh;
    }

    14% {
        right: 1.7vh;
    }

    15% {
        right: 1.3vh;
    }

    100% {
        right: 1.3vh;
    }
}

/*NAWIGACJA*/
nav {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: -7vh;
    margin-bottom: 3vh;
    height: 7vh;
    background-color: rgba(26, 22, 19, 0.7);
}

nav ul {
    display: flex;
    width: 100%;
    max-width: 1024px;
    height: 100%;
    list-style: none;
    font-size: 0;
}

nav ul li {
    width: 33.3%;
    text-align: center;
}

nav ul li a {
    display: block;
    color: white;
    line-height: 7vh;
    font-size: 5vh;
    text-decoration: none;
    letter-spacing: 1px;
    opacity: 0.7;
    transition: 0.3s;
}

nav ul li:hover a {
    transform: scale(1.1);
    opacity: 1;
    color: white;
}

/*O MNIE*/
#description {
    position: relative;
    display: flex;
    width: 92.5%;
    margin-left: 7.5%;
    margin-bottom: 20px;
}

#description img {
    display: block;
    float: left;
    height: 22vh;
    margin-right: 40px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}

#description div {
    position: relative;
    float: left;
    width: 100%;
}

#description p {
    display: block;
    width: 86%;
    left: 0;
    padding: 12px 0;
    color: #1a1613;
    font-size: 28px;
    line-height: 1.4;
    animation: show 3s ease 1 both;
}

@keyframes show {
    0% {
        left: 100%;
        opacity: 0;
    }

    50% {
        opacity: 0.3;
    }

    80% {
        left: 0;
    }

    100% {
        opacity: 1
    }
}

#description span {
    display: block;
    padding-top: 15px;
}

/*przekierwoanie do HOBBY*/
#to-hobby a {
    display: block;
    position: relative;
    float: right;
    height: 4vh;
    width: 26%;
    bottom: 5.5vh;
    padding-left: 2.5%;
    color: rgba(0, 0, 0, 0.589);
    line-height: 4vh;
    font-size: 28px;
    letter-spacing: 1px;
    background-color: rgba(116, 79, 58, 0.20);
    list-style: none;
    text-decoration: none;
    transition: 0.6s;
}

#to-hobby a:hover {
    width: 30%;
    letter-spacing: 2px;
    background-color: rgba(116, 79, 58, 0.15);
    color: rgba(0, 0, 0, 0.8);
}

/* MOJE NAJLEPSZE PROJEKTY */
#projects {
    margin: 0 auto;
    margin-bottom: 35px;
}

#projects p {
    display: block;
    width: 40%;
    padding: 30px 0;
    padding-top: 20px;
    margin: 0 auto;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 400;
    font-size: 35px;
}

#projects p.opis {
    border-bottom: 2px solid black;
}

.project {
    display: flex;
    width: 85%;
    height: 23vh;
    margin: 40px auto;
    margin-bottom: 60px;
    align-items: center;
    flex-direction: row;
}

#projects .project .project-description p {
    display: block;
    width: 100%;
    padding-right: 10px;
    padding-left: 2vw;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 1.3;
    text-align: left;
    color: #1a1613;
    overflow-wrap: break-word;
}

#projects .project .right p {
    padding-right: 2vw;
    margin-left: 0;
    text-align: right;
}

#projects .project .project-description h3 {
    display: block;
    margin-left: 2vw;
    color: black;
    font-size: 32px;
    text-align: left;
    letter-spacing: 4px;
    line-height: 1.2;
}

#projects .project .right h3 {
    margin-right: 2vw;
    text-align: right;
}

.project img {
    display: block;
    width: 22%;
    opacity: 0.75;
    transition: 0.4s;
}

.project:hover img {
    opacity: 0.5;
    transform: scale(1.1);
}

/* hobby */
#hobby .container {
    width: 100%;
    padding: 50px 5%;
    padding-top: 30px;
    padding-bottom: 80px;
    margin: 0 auto;
    font-size: 0;
}

.container p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 290;
    letter-spacing: 3px;
}

.activity {
    display: inline-block;
    position: relative;
    width: 33.3%;
}

.activity img {
    display: block;
    width: 100%;
    padding: 0 2%;
    margin: 0 auto;
    opacity: 0.9;
    filter: grayscale(0.4);
    transition: 0.7s;
}

.activity img:hover {
    filter: grayscale(0);
    opacity: 1;
}

.activity p {
    display: block;
    position: absolute;
    width: 100%;
    padding: 0 2%;
    margin: 0 auto;
    bottom: 68%;
    font-size: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0);
    transform: scale(1.1);
    transition: 0.7s;
}

.activity:hover p {
    color: rgba(255, 255, 255, 0.65);
    font-weight: 200;
    letter-spacing: 4px;
    opacity: 1;
}

.pic1:hover p {
    color: rgba(0, 0, 0, 0.678);
}

/* STOPKA */
/* kontatk */

footer {
    width: 100%;
    background-color: rgba(2, 31, 17, 0.719);
}

footer #contact {
    display: flex;
    flex-direction: column;
}

footer #contact .wrap {
    display: flex;
    width: 85%;
    margin-left: 15%;
    flex-direction: column;
    align-items: flex-start;
}

footer #contact .wrap .FormAndCon {
    display: flex;
    width: 100%;
}

footer #contact .wrap p {
    display: block;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    letter-spacing: 3px;
    opacity: 0.6;
}

#contact .wrap form {
    width: 45%;
    margin-top: 2%;
    font-family: 'Raleway', sans-serif;
}

#contact .wrap form input {
    width: 100%;
    height: 30px;
    margin-bottom: 25px;
    padding: 3px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

#contact .wrap form input:focus {
    background-color: rgba(255, 224, 167, 0.616);
}


#contact .wrap form textarea {
    width: 100%;
    height: 180px;
    padding: 3px;
    margin-bottom: 25px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

#contact .wrap form button {
    position: relative;
    display: block;
    width: 55%;
    height: 35px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.75);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    overflow: hidden;
    z-index: 1;
    transition: 1s;
}

#contact .wrap form button:hover {
    letter-spacing: 3px;
    cursor: pointer;
    transition: 1s;
}

#contact .wrap form button::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 105%;
    color: black;
    background-color: rgba(245, 222, 179, 0.87);
    z-index: -1;
    transition: 1s;

}

#contact .wrap form button:hover::after {
    right: 0;
}


#contact .wrap .con {
    display: flex;
    width: 45%;
    padding-left: 5vw;
    justify-content: center;
    align-items: center;
}

#contact .wrap .con .pom {
    display: flex;
    flex-direction: column;
}

#contact .wrap .icon {
    display: flex;
    padding-left: 50px;
    margin-bottom: 30px;
    text-decoration: none;
}

#contact .wrap .icon:hover {
    cursor: pointer;
}

#contact .wrap .con .icon i {
    margin-right: 30px;
    font-size: 25px;
    color: wheat;
    transition: 0.3s;
}

#contact .wrap .con .icon p {
    text-decoration: none;
}

#contact .wrap .con .icon p {
    display: block;
    width: 100%;
    padding: 0;
    margin-left: 30px;
    font-size: 23px;
    color: wheat;
    text-align: left;
    line-height: 25px;
    transform: scale(1.1);
    letter-spacing: 4px;
    transition: 0.3s;
}

#contact .wrap .con .icon:hover p {
    color: rgb(214, 172, 105);
}

#contact .wrap .con .icon:hover i {
    transform: scale(1.1);
}

footer p.copyright {
    display: block;
    padding: 45px 0 20px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

/* RESPONSYWNOŚĆ MAX-WIDTH:1380PX*/
@media (max-width: 1507px) {
    header p {
        font-size: 28vh;
    }

    #description p {
        font-size: 25px;
    }

    #projects .project .project-description p {
        font-size: 25px;
    }

    #to-hobby a {
        height: 3.2vh;
        line-height: 3.2vh;
        font-size: 25px;
    }

    #contact .wrap .con {
        padding-left: 3.5vw;
    }

    .activity p {
        font-size: 25px;
    }
}

@media (max-width: 1355px) {
    header p {
        font-size: 25vh;
    }

    #description p {
        font-size: 22px;
    }

    #projects .project .project-description p {
        font-size: 22px;
    }

    #to-hobby a {
        height: 3vh;
        line-height: 3vh;
        font-size: 22px;
    }

    #contact .wrap .con {
        padding-left: 4.5vw;
    }

    nav {
        margin-top: -6.5vh;
        height: 6.5vh;
    }

    nav ul li a {
        line-height: 6.5vh;
        font-size: 5vh;
        letter-spacing: 3px;
    }

    .activity p {
        letter-spacing: 1.7px;
        font-size: 23px;
    }

    .activity:hover p {
        letter-spacing: 3px;
    }
}

@media (max-width: 1248px) {
    nav {
        margin-top: -6vh;
        height: 6vh;
    }

    nav ul li a {
        font-size: 4.5vh;
        line-height: 6vh;
        letter-spacing: 3px;
    }


    .project:hover img {
        transform: scale(1);
    }

    #projects p {
        font-size: 25px;
    }

    #projects .project .project-description h3 {
        font-size: 25px;
    }

    #projects .project .project-description p {
        font-size: 22px;
        line-height: 3.2vh;
    }

    #contact .wrap .con .icon p {
        font-size: 21px;
    }

    #contact .wrap .con {
        padding-left: 9vw;
    }

    footer #contact .wrap {
        margin-left: 8%;
    }

    #contact .wrap .con .icon:hover p {
        letter-spacing: 3px;
    }

    #contact .wrap .con .icon i {
        margin-right: 20px;
    }

    #description p {
        line-height: 1.5;
    }

    footer #contact .wrap p {
        font-size: 35px;
    }

    .container p {
        font-size: 30px;
    }
}

@media(max-width: 1180px) {
    header i {
        opacity: 0;
    }

    .activity p {
        letter-spacing: 1.5px;
        font-size: 20px;
    }

    .activity:hover p {
        letter-spacing: 2px;
    }

    #contact .wrap .con {
        padding-left: 10vw;
    }
}

@media (max-width: 1024px) {
    .activity:hover p {
        letter-spacing: 1.5px;
    }

    .activity p {
        color: rgba(255, 255, 255, 0.65);
        opacity: 1;
    }

    .pic1 p {
        color: rgba(0, 0, 0, 0.678);
    }

    header p {
        font-size: 18vh;
    }

    #description p {
        font-size: 23px;
        line-height: 1.2;
    }

    #to-hobby a {
        width: 32%;
        height: 4.2vh;
        bottom: 4.5vh;
        font-size: 25px;
        background-color: rgba(116, 79, 58, 0.15);
        color: rgba(0, 0, 0, 0.8);
        line-height: 4.2vh;
    }

    #to-hobby a:hover {
        width: 32%;
        letter-spacing: 1px;
    }

    .project img {
        width: 40%;
    }

    #projects p {
        width: 50%;
        padding: 20px 0;
        padding-top: 10px;
        font-size: 25px;
    }

    #projects .project .project-description p {
        font-size: 23px;
        line-height: 2.5vh;
    }

    #projects .project .project-description h3 {
        font-size: 30px;
    }

    .activity {
        width: 100%;
    }

    .activity img {
        width: 90%;
        margin: 1vh auto;
    }

    .activity p {
        font-size: 42px;
        letter-spacing: 2px;
    }

    #contact .wrap .con {
        padding-left: 1.5vw;
    }

    #contact .wrap .con .icon p {
        font-size: 22px;
    }

    #contact .wrap form input {
        height: 40px;
        font-size: 21px;
    }

    #contact .wrap form textarea {
        height: 200px;
        font-size: 21px;
    }

    #contact .wrap form button {
        height: 50px;
        font-size: 20px;
    }

    footer p.copyright {
        padding-top: 35px;
        font-size: 20px;
    }

    footer #contact .wrap p {
        font-size: 40px;
        /* transform: translateX(25%); */
    }

    nav {
        height: calc(21vh + 6px);
        margin-top: calc(-21vh - 6px);
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        width: 100%;
        justify-content: center;
        border-top: 2px solid white;
    }

    nav ul li a {
        display: block;
        font-size: 5vh;
        color: white;
        line-height: 7vh;
        letter-spacing: 1px;
    }

    header p {
        transform: translateY(25%);
    }

    footer #contact .wrap {
        margin: 0 auto;
    }

    footer #contact .wrap p {
        width: 100%;
        text-align: center;
    }

    footer #contact .wrap p.title {
        border-bottom: 2px solid rgb(214, 172, 105);
    }

    footer #contact .wrap .FormAndCon {
        flex-direction: column-reverse;
        overflow: hidden;
    }

    #contact .wrap .con {
        position: relative;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 20px;
        align-items: center;
        justify-content: center;
    }

    #contact .wrap .con .pom .icon {
        padding-left: 0;
    }

    #contact .wrap form {
        width: 60%;
        margin: 0 auto;
    }
}

@media (max-width: 890px) {
    #description p {
        font-size: 22px;
        line-height: 1.2;
    }

    #to-hobby a {
        display: none;
    }

    .project {
        margin: 60px auto;
        margin-bottom: 90px;
    }

    .project img {
        width: 50%;
    }

    #projects p {
        width: 60%;
        padding: 10px 0;
        padding-top: 17px;
    }

    #projects .project .project-description p {
        display: none;
    }

    .activity p {
        font-size: 23px;
    }

    .activity img {
        width: 70%;
    }

    .container p {
        margin-top: 110px;
        font-size: 25px;
    }
}

@media(max-width: 764px) {
    #description p {
        font-size: 22px;
        line-height: 1.2;
    }

    header {
        min-height: 60vh;
    }

    #description {
        margin: 14px auto;
        margin-bottom: 25px;
    }

    #description img {
        height: 32vh;
    }

    #description .text p {
        width: 90%;
        margin: 0 auto;
    }

    .project img {
        width: 55%;
    }

    #projects .project {
        justify-content: center;
    }

    nav {
        height: calc(18vh + 24px + 6px);
        margin-top: calc(-18vh - 24px - 6px);
    }

    nav ul li {
        height: 18vh;
        padding: 4px;
    }

    nav ul li a {
        font-size: 4vh;
        line-height: 6vh;
    }

    header p {
        font-size: 16vh;
        transform: translateY(-1%);
    }

    #projects .project .project-description h3 {
        font-size: 25px;
    }

    .project:hover img {
        opacity: 0.8;
        transform: scale(0.96);
    }

    .container p {
        font-size: 23px;
    }
}

@media(max-width: 657px) {
    #description {
        width: 95%;
    }

    #description p {
        font-size: 20px;
    }

    #description img {
        margin-right: 20px;
    }

    .container p {
        margin-top: 0px;
        font-size: 23px;
        text-align: center;
    }

    .activity img {
        width: 90%;
    }

    #projects .project .project-description h3 {
        font-size: 20px;
    }

    .project img {
        width: 50%;
    }

    footer #contact .wrap .title {
        font-size: 30px;
    }

    #contact .wrap form {
        width: 80%;
        margin: 0 auto;
    }

    #contact .wrap .con .icon p {
        font-size: 16px;
        margin-left: 20px;
    }
}

@media(max-width: 590px) {
    header {
        min-height: 55vh;
    }

    header p {
        font-size: 12vh;
        transform: translateY(-15%);
    }

    #navigation {
        margin-bottom: 0;
    }

    #description {
        width: 100%;
        margin-bottom: 40px;
    }

    #description p {
        margin: 0;
        font-size: 22px;
    }

    #projects .project {
        margin: 50px auto;
    }

    #projects .project img {
        width: 80%;
    }

    #projects .project .project-description {
        display: none;
    }
}

@media(max-width: 435px) {
    header {
        min-height: 55vh;
    }

    header p {
        font-size: 13vh;
        transform: translateY(-20%);
    }

    #description img {
        display: none;
    }

    #description p {
        margin-top: 30px;
        font-size: 20px;
        text-align: justify;
        color: black;
    }

    #description p span {
        text-align: left;
        color: black;
    }

    #projects .project {
        margin: 50px auto;
    }

    #projects .opis {
        padding-top: 0;
        font-size: 20px;
    }

    .activity p {
        font-size: 18px;
    }

    #contact .wrap .con .pom .icon i {
        font-size: 17px;
    }

    #contact .wrap .con .pom .icon p {
        margin-left: 5px;
        font-size: 16px;
        line-height: 17px;
        letter-spacing: 1px;
    }

    #contact .wrap p.title {
        font-size: 23px;
    }

    #contact .wrap form {
        width: 90%;
    }

    #contact .wrap form input {
        height: 26px;
        font-size: 15px;
    }

    #contact .wrap form textarea {
        font-size: 15px;
    }

    #contact .wrap form button {
        width: 45%;
        height: 35px;
        font-size: 16px;
    }

    footer p.copyright {
        font-size: 15px;
    }
}

@media (max-width: 369px) {
    header p {
        font-size: 10vh;
    }

    #description p {
        font-size: 17px;
    }

    .container p {
        margin-top: 30px;
        font-size: 16px;
    }

    .activity p {
        font-size: 15px;
    }

    #projects .opis {
        width: 70%;
        font-size: 17px;
    }

    #projects .project {
        margin: 30px auto;
        margin-bottom: 40px;
    }

    #projects .project img {
        width: 80%;
    }

    #contact .wrap .con .pom .icon i {
        font-size: 15px;
    }

    #contact .wrap .con .pom .icon p {
        margin-left: 5px;
        font-size: 13.5px;
        line-height: 17px;
        letter-spacing: 1px;
    }
}